@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

:root {
  --radius: 0.65rem;
  --font-sans: 'Figtree', sans-serif;
  --background: #f9fbfc;
  --foreground: #1f1f36;
  --card: #ffffff;
  --card-foreground: #1f1f36;
  --popover: #ffffff;
  --popover-foreground: #1f1f36;
  --primary: #256ff1;
  --primary-foreground: #ffffff;
  --secondary: #f2f4f7;
  --secondary-foreground: #1f1f36;
  --muted: #eaecf0;
  --muted-foreground: #667085;
  --accent: #ebeeed;
  --accent-foreground: #1f1f36;
  --destructive: #b93815;
  --destructive-foreground: #ffffff;
  --border: #ebeeed;
  --input: #ebeeed;
  --ring: #256ff1;
  /* === Charts (for dashboards/analytics) === */
  --chart-1: #ecfdf3; /* success-50 */
  --chart-2: #b93815; /* red-500 */
  --chart-3: #c11574; /* pink-500 */
  --chart-4: #026aa2; /* navy-500 */
  --chart-5: #12b76a; /* success-500 */
  /* === Sidebar === */
  --sidebar: #ffffff;
  --sidebar-foreground: #1f1f36;
  --sidebar-primary: #256ff1;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f2f4f7;
  --sidebar-accent-foreground: #1f1f36;
  --sidebar-border: #eaecf0;
  --sidebar-ring: #256ff1;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

@theme {
  --font-figtree: 'Figtree', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --color-dark-100: #1f1f36;
  --color-dark-200: #141627;
  --color-dark-300: #101828;
  --color-dark-400: #2e2c48;
  --color-gray-100: #7f7e83;
  --color-gray-200: #eaecf0;
  --color-gray-500: #667085;
  --color-gray-700: #344054;
  --color-primary-50: #e9f3fb;
  --color-primary-100: #256ff1;
  --color-primary-500: #175cd3;
  --color-light-100: #ecf2ef;
  --color-light-200: #f9fbfc;
  --color-light-300: #f2f4f7;
  --color-light-400: #ebeeed;
  --color-light-500: #e3f1ff;
  --color-success-50: #ecfdf3;
  --color-success-500: #12b76a;
  --color-success-700: #027a48;
  --color-pink-50: #f7edf6;
  --color-pink-500: #c11574;
  --color-navy-50: #f0f9ff;
  --color-navy-500: #026aa2;
  --color-red-500: #b93815;
  --color-red-50: #fff4ed;
  --color-red-100: #ff543d;

  --background-image-auth: url('./assets/images/auth-img.webp');
  --background-image-hero: url('./assets/images/hero-img.png');
  --background-image-card-1: url('./assets/images/card-img-1.png');
  --background-image-card-2: url('./assets/images/card-img-2.png');
  --background-image-card-3: url('./assets/images/card-img-3.png');
  --background-image-card-4: url('./assets/images/card-img-4.png');
  --background-image-card-5: url('./assets/images/card-img-5.png');
  --background-image-card-6: url('./assets/images/card-img-6.png');
  --background-image-confitte: url('./assets/images/confitte.png');
  --background-image-linear100: linear-gradient(
    105deg,
    rgba(207, 241, 255, 0.8) 14.17%,
    rgba(255, 255, 255, 0) 54.71%
  );
  --background-image-linear200: linear-gradient(
    39deg,
    rgba(3, 3, 3, 0.54) -3.66%,
    rgba(6, 6, 6, 0) 45.57%
  );
  --shadow-100: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  --shadow-200: 0px 12px 16px -4px rgba(16, 24, 40, 0.1),
    0px 4px 20px -2px rgba(16, 24, 40, 0.2);
  --shadow-300: 0px 2px 30px 0px rgba(0, 0, 0, 0.05);
  --shadow-400: 0px 2px 6px 0px rgba(13, 10, 44, 0.08);
  --shadow-500: 0px 12px 16px -4px rgba(16, 24, 40, 0.1);
  --shadow-600: 0px 0px 40px 0px rgba(31, 31, 54, 0.2);
  --radius-20: 20px;
}
@layer components {
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-full {
    @apply h-full w-full;
  }
  /* 12px */
  .p-12-medium {
    @apply text-[11px] sm:text-xs xl:text-xs leading-[18px] font-medium;
  }
  .p-12-regular-uppercase {
    @apply text-[11px] sm:text-xs xl:text-xs leading-[18px] font-normal uppercase;
  }

  /* 14px */
  .p-14-regular {
    @apply text-[12px] sm:text-xs xl:text-sm leading-[17px] font-normal;
  }
  .p-14-medium {
    @apply text-[12px] sm:text-xs xl:text-sm leading-[17px] font-medium;
  }
  .p-14-semibold {
    @apply text-[12px] sm:text-xs xl:text-sm leading-[19px] font-semibold;
  }
  .p-14-bold {
    @apply text-[12px] sm:text-xs xl:text-sm leading-[15px] font-bold;
  }

  /* 16px */
  .p-16-regular {
    @apply text-[13px] sm:text-sm xl:text-base leading-[21px] font-normal;
  }
  .p-16-medium {
    @apply text-[13px] sm:text-sm xl:text-base leading-[21px] font-medium;
  }
  .p-16-semibold {
    @apply text-[13px] sm:text-sm xl:text-base leading-[21px] font-semibold;
  }

  /* 18px */
  .p-18-regular {
    @apply text-sm sm:text-base xl:text-lg leading-[27px] font-normal;
  }
  .p-18-medium {
    @apply text-sm sm:text-base xl:text-lg leading-[21px] font-medium;
  }
  .p-18-semibold {
    @apply text-sm sm:text-base xl:text-lg leading-[21px] font-semibold;
  }
  .p-18-bold {
    @apply text-sm sm:text-base xl:text-lg leading-[21px] font-bold;
  }

  /* 20px */
  .p-20-semibold {
    @apply text-base sm:text-lg xl:text-xl leading-[25px] font-semibold;
  }

  /* 24px */
  .p-24-regular {
    @apply text-base sm:text-lg xl:text-2xl leading-[18px] font-normal;
  }
  .p-24-semibold {
    @apply text-base sm:text-lg xl:text-2xl leading-[18px] font-semibold;
  }
  .p-24-bold {
    @apply text-base sm:text-lg xl:text-2xl leading-[18px] font-bold;
  }

  /* 28px */
  .p-28-semibold {
    @apply text-lg sm:text-xl lg:text-[22px] xl:text-[28px] leading-[20px] font-semibold;
  }
  .p-28-bold {
    @apply text-lg sm:text-xl lg:text-[22px] xl:text-[28px] leading-[20px] font-bold;
  }

  /* 30px */
  .p-30-semibold {
    @apply text-xl sm:text-2xl lg:text-[26px] xl:text-3xl leading-[29px] font-semibold;
  }
  .p-30-bold {
    @apply text-xl sm:text-2xl lg:text-[26px] xl:text-3xl leading-[29px] font-bold;
  }

  /* 36px */
  .p-36-semibold {
    @apply text-2xl sm:text-3xl lg:text-[32px] xl:text-4xl leading-[37px] font-semibold;
  }
  .p-36-bold {
    @apply text-2xl sm:text-3xl lg:text-[32px] xl:text-4xl leading-[37px] font-bold;
  }

  /* 40px */
  .p-40-semibold {
    @apply text-3xl sm:text-[34px] md:text-[36px] lg:text-[38px] xl:text-[40px] leading-[33px] font-semibold;
  }

  /* 72px */
  .p-72-bold {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-[72px] leading-[48px] font-bold;
  }
}

html,
body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}
